{{> header}}


<div class="ui container">
  <div class="ui raised segment">
    <h1>{{article.headline}}</h1>
    <div class="">
      {{body}}
    </div>
  </div>

  <div class="ui raised segment">
    <div class="ui form">
      <form class="" action="/comments/{{article._id}}" method="POST">
        <h3>Leave A Comment:</h3>
        <div class="input-field">
          <label>name</label>
          <input type="text" name="name" placeholder="Jane Smith">
        </div>
        <div class="input-field">
          <label>comment:</label>
          <textarea type="text" name="body" placeholder="Your comment here..."></textarea>
        </div>
        <br>
        <div class="input-field">
          <button type="sumbit" class="ui olive button">Submit</button>
        </div>
      </form>
    </div>
  </div>

  <div class="ui raised segment">
    <h3>Comments:</h3>
    {{#if article.comment}}
      {{#each article.comment}}
        <div class="ui padded segment">
          <p><strong>{{name}}</strong> says:</p>
          <p>{{body}}</p>
          <p>posted on: {{createdAt}}</p>
        </div>
      {{/each}}
    {{else}}
      <p>nothing here yet...</p>
    {{/if}}
  </div>
</div>

{{> footer}}
